BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #ffffff; LINE-HEIGHT: 150%; SCROLLBAR-ARROW-COLOR: #ffffff; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #ffffff; FONT-FAMILY: "微软雅黑"; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; SCROLLBAR-BASE-COLOR: #c1d7f4
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px
}
A {
	
}
A:link {
	COLOR: #223e71; TEXT-DECORATION: none
}
A:visited {
	COLOR: #223e71; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0066cc; TEXT-DECORATION: none
}
A:active {
	COLOR: #223e71; TEXT-DECORATION: none
}
A.menu:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.menu:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.menu:hover {
	TEXT-DECORATION: none
}
.reg_css01 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #ff0000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.Txt_9pt_B_B {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff
}
.Txt_9pt_B {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff
}
.Txt_9pt_l {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #004182
}
.Txt_9pt_H_B {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffcc00
}
.Txt_10pt_B {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 10pt/150% "Microsoft Sans Serif"; COLOR: #ff6600; PADDING-TOP: 0px
}
.Txt_11pt_B {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 11pt/150% "Microsoft Sans Serif"; COLOR: #1c417b; PADDING-TOP: 0px
}
.Shadow {
	FILTER: DropShadow(Color=#ECEEF5, OffX=1, OffY=1, Positive=1); PADDING-TOP: 2px
}
.Shadow1 {
	FILTER: DropShadow(Color=#23458A, OffX=1, OffY=1, Positive=1); COLOR: #ffffff; PADDING-TOP: 1px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bolder; FONT-SIZE: 14pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ff8a00; PADDING-TOP: 0px; FONT-FAMILY: "Arial"
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #006699; LINE-HEIGHT: normal; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-VARIANT: normal
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #1c417b; LINE-HEIGHT: 200%; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-VARIANT: normal
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ff6600; LINE-HEIGHT: normal; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-VARIANT: normal
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #1c417b; PADDING-TOP: 0px
}
P {
	LINE-HEIGHT: 150%
}
ur {
	LIST-STYLE-IMAGE: url(../images/ur-001.gif); LINE-HEIGHT: 150%; LIST-STYLE-TYPE: disc
}
UL {
	LIST-STYLE-TYPE: square
}
UL UL {
	LIST-STYLE-TYPE: disc
}
UL UL UL {
	LIST-STYLE-TYPE: none
}
LEGEND {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; FONT: bold 9pt "Arial"; COLOR: #0066cc; PADDING-TOP: 2px
}
FIELDSET {
	HEIGHT: 280px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LABEL {
	FONT: bold 1em Arial,sans-serif; COLOR: #334d55
}
INPUT {
	FONT-SIZE: 9pt; FONT-FAMILY: Microsoft Sans Serif
}
OPTION {
	FONT-SIZE: 9pt; FONT-FAMILY: Microsoft Sans Serif
}
SELECT {
	FONT-SIZE: 9pt; FONT-FAMILY: Microsoft Sans Serif
}
TEXTAREA {
	FONT-SIZE: 9pt; FONT-FAMILY: Microsoft Sans Serif
}
.inputCN {
	BORDER-RIGHT: #505050 1px solid; BORDER-TOP: #505050 1px solid; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(../images/shadow_textbox.gif); MARGIN: 0px; BORDER-LEFT: #505050 1px solid; COLOR: #003300; LINE-HEIGHT: 100%; BORDER-BOTTOM: #505050 1px solid; FONT-FAMILY: Microsoft Sans Serif
}
TD {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 150%
}
TH {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 150%
}
.Table_xt {
	BORDER-RIGHT: #88b0e4 1px solid; BORDER-TOP: #88b0e4 1px solid; BACKGROUND: #dfeefc; MARGIN: 0px auto 5px; BORDER-LEFT: #88b0e4 1px solid; BORDER-BOTTOM: #88b0e4 1px solid; TEXT-ALIGN: center
}
.Table_xt01 {
	BORDER-RIGHT: #88b0e4 1px solid; BORDER-TOP: #88b0e4 1px solid; BACKGROUND: #dfeefc; MARGIN: 0px 0px 10px; BORDER-LEFT: #88b0e4 1px solid; BORDER-BOTTOM: #88b0e4 1px solid; TEXT-ALIGN: center
}
.Table_main {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 10px 0px; BORDER-LEFT: 0px; WIDTH: 98%; BORDER-BOTTOM: 0px; cellpadding: 0; cellspacing: 5
}
#pop_hint {
	BORDER-RIGHT: #f0d378 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f0d378 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fff6d0; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #f0d378 1px solid; WIDTH: auto; COLOR: #000000; LINE-HEIGHT: 150%; PADDING-TOP: 5px; BORDER-BOTTOM: #f0d378 1px solid; TEXT-ALIGN: left
}
#main_left_window {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/corp_main_left_bg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 141px; PADDING-TOP: 0px; HEIGHT: 800px
}
.button_text {
	BORDER-RIGHT: #658dc9 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #a6bddd 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(../images/button_onMouseOut.gif); MARGIN: 0px 10px; BORDER-LEFT: #84a4ca 1px solid; CURSOR: hand; COLOR: #235a95; LINE-HEIGHT: 100%; BORDER-BOTTOM: #4c79ba 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #eaf0f5; TEXT-ALIGN: center; TEXT-DECORATION: none;padding-top:3px;
}
.button_onMouseOut {
	BORDER-RIGHT: #658dc9 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #a6bddd 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(../images/button_onMouseOut.gif); MARGIN: 0px 10px; BORDER-LEFT: #84a4ca 1px solid; CURSOR: hand; COLOR: #235a95; LINE-HEIGHT: 100%; BORDER-BOTTOM: #4c79ba 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #eaf0f5; TEXT-ALIGN: center; TEXT-DECORATION: none;padding-top:3px;
}
.button_onmouseover {
	BORDER-RIGHT: #9bd26a 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c1e39f 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(../images/button_onmouseover.gif); MARGIN: 0px 10px; BORDER-LEFT: #9adb5e 1px solid; CURSOR: hand; COLOR: #437117; LINE-HEIGHT: 100%; BORDER-BOTTOM: #81c73e 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #f1f6e8; TEXT-ALIGN: center; TEXT-DECORATION: none;padding-top:3px;
}
.button_onmousedown {
	BORDER-RIGHT: #9bd26a 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c1e39f 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(../images/button_onmouseover1.gif); MARGIN: 0px 10px; BORDER-LEFT: #9adb5e 1px solid; CURSOR: hand; COLOR: #ffffff; LINE-HEIGHT: 100%; BORDER-BOTTOM: #81c73e 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #abf105; TEXT-ALIGN: center; TEXT-DECORATION: none;padding-top:3px;
}
/*DATALIST输出内容B样式*/
.dltrbgA
{
	background-color:#D9E5F8;
}
/*DATALIST输出内容B样式*/
.dltrbgB
{
	background-color:#FFFFFF;
}
.hint{
	color:#ff0000;
}
.font8{
	font-size:10;
}